<div class="container">
  <h2>Add New Book</h2>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author:</label>
      <input
        type="text"
        id="author"
        formControlName="author"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <input
        type="text"
        id="description"
        formControlName="description"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="year" class="form-label">Year:</label>
      <input
        type="text"
        id="year"
        formControlName="year"
        class="form-control"
      />
    </div>
    <button type="submit" [disabled]="!bookForm.valid">
      Submit
    </button>
  </form>
</div>
